
*.htm
*.hdb
*.tdf
*.cdb
c5_pin_model_dump.txt
*.rdb
*.hsd
db/
gb_clocks/
gb_clocks_sim/
incremental_db/
*.bak
dram_controller.sv
*.rpt
*.cdf
*.done
*.smsg
*.summary
*.sof
*.txt
roms/DMG_ROM.bin
roms/DMG_ROM.hex
roms/gbc_bios.bin
roms/gbc_bios.hex
roms/jbios.bin
roms/jbios.hex
serial_loader_c_sharp/.vs/SimpleSerial/v15/.suo
